.cart_main {
  width: 70vw;
  min-height: 55vh;
  max-height: auto;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  /* justify-content: center;
  align-items: center;*/
  flex-direction: column;
  padding-top: 20px;
}

.cart_item_headers {
  border-bottom: 1px solid rgb(238, 182, 98);
  display: flex;
  padding-top: 32px;
  padding-bottom: 5px;
}

.cart_item_headers p {
  margin-right: 230px;
  padding-left: 4px;
}

.cart_item_list_top {
  border-bottom: 1px solid rgb(238, 182, 98);
}
