.cart_main {
  width: 70vw;
  min-height: 55vh;
  max-height: auto;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  /* justify-content: center;
  align-items: center;*/
  flex-direction: column;
  padding-top: 20px;
}

.cart_item_headers {
  box-shadow: 0 8px 6px -10px black;
  display: flex;
  padding-top: 32px;
  padding-bottom: 5px;
}

.cart_item_headers p {
  margin-right: 220px;
  padding-left: 5px;
}

.cart_item_list_top {
  box-shadow: 0 8px 6px -10px black;
}
