.productlist_main {
  /* width: 70vw; */
  width: 100%;
  min-height: 55vh;
  max-height: auto;
  margin: 0 auto;
  margin-top: 5px;
}

.productlist_inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
