.productdetail_main {
  width: 70vw;
  min-height: 55vh;
  max-height: auto;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.productdetail_all_info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  height: 70vh;
  margin: 45px;
}

.productdetail_image {
  width: 50%;
  align-items: center;
}
.productdetail_image img {
  min-width: 45%;
  height: 100%;
  display: block;
  margin: auto;
}

.productdetail_text {
  width: 50%;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 22px;
  font-weight: lighter;
  padding: 5px;
  font-family: sans-serif;
  margin: 25px 0px;
}

.productdetail_title_price {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #f0bc8f;
  padding-bottom: 6px;
}
.productdetail_title_price p {
  padding: 10px 3px;
}

.add_to_cart {
  background: rgb(2, 109, 109);
  color: whitesmoke;
  padding: 4px 14px;
  border-radius: 4px;
  margin: 23px 0px;
  font-size: 13px;
  cursor: pointer;
}

.productdetail_quantity {
  /* border: 1px solid red; */
  margin-top: 15px;
}

.productdetail_quantity button {
  width: 25px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.productdetail_quantity button:focus {
  border: none;
}

.productdetail_description {
  border-top: 1px solid goldenrod;
  border-bottom: 0.5px solid goldenrod;
  width: 100%;
  padding: 30px 3px;
  font-size: 15px;
  word-spacing: 4px;
}

.productdetail_related_products {
  width: 100%;
  padding: 30px 3px;
}

.productdetail_size_color {
  display: flex;
  flex-direction: row;
}
.size-radio-buttons {
  width: 39%;
  padding: 15px;
  padding-left: 0px;
  font-size: 13px;
}

.size-radio-buttons input[type="radio"] {
  margin: 5px;
  margin-right: 22px;
}
