.productdetail_main {
  /* width: 70vw; */
  width:100%;
  min-height: 55vh;
  max-height: auto;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.productdetail_all_info {
  border: 1px solid red;
  width:100%;
  display: flex;
  flex-direction: row;
  height: 70vh;
  margin: 45px;
}

.productdetail_image {
  width: 50%;
  align-items: center;
}

.productdetail_image img {
  min-width: 45%;
  height: 100%;
  display: block;
  margin: auto;
}

.productdetail_text {
  width: 50%;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 22px;
  font-weight: lighter;
  padding: 50px;
  font-family: sans-serif;
  margin: 25px 0px;
}

.productdetail_title_price {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #f0bc8f;
  padding-bottom: 6px;
}
.productdetail_title_price p {
  padding: 10px 3px;
}

.add_to_cart {
  background: rgb(2, 109, 109);
  color: whitesmoke;
  padding: 4px 14px;
  border-radius: 4px;
  margin: 23px 0px;
  font-size: 13px;
  cursor: pointer;
}

.productdetail_quantity {
  /* border: 1px solid red; */
  margin-top: 15px;
}

.productdetail_quantity button {
  width: 25px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.productdetail_quantity button:focus {
  border: none;
}

.productdetail_description {
  border-top: 1px solid goldenrod;
  border-bottom: 0.5px solid goldenrod;
  width: 100%;
  padding: 30px 3px;
  font-size: 15px;
  word-spacing: 4px;
}

.productdetail_related_products {
  width: 100%;
  padding: 30px 3px;
}

.productdetail_size_color {
  display: flex;
  flex-direction: row;
}
.size-radio-buttons {
  width: 44%;
  padding: 15px;
  padding-left: 0px;
  font-size: 13px;
}

.size-radio-buttons input[type="radio"] {
  margin: 5px;
  margin-right: 22px;
}

.related_products {
  width: 125px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}

.related_products img {
  height: 150px;
  width: 90%;
  display: block;
  margin: 0;
}

.related_products p {
  width: 100%;
  font-size: 12px;
}



/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 7px;
  margin-top: 4px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius:50%;
  background-color: Teal;
}

.mustard {
	background-color:#ffdb58;
}
.gray {
	background-color:gray;
}

.forest {
		background-color:#178223;

}

  /* Create the checkmark/indicator (hidden when not checked) */
.circle:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .circle:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .circle:after {
  left: 3.8px;
  top: 2px;
  width: 5px;
  height: 7px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input_radio_checkout{
  padding-left: 20px;
}