.checkout_main {
  width: 70vw;
  min-height: 55vh;
  max-height: auto;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.order_summary_heading {
  padding-left: 15px;
  padding-bottom: 10px;
  box-shadow: 0 8px 6px -9px rgb(238, 157, 52);
}

.user_details {
  margin: 10px 0px;
  padding-bottom: 10px;
  box-shadow: 0 8px 6px -9px rgb(238, 157, 52);
}

.shipping {
  margin: 10px 0px;
  font-size: 13px;
}

.shipping_row_div {
  display: flex;
  flex-direction: row;
}

.submit {
  background: rgb(2, 109, 109);
  color: whitesmoke;
  padding: 4px 14px;
  border-radius: 4px;
  margin: 23px 0px;
  font-size: 13px;
  cursor: pointer;
}

.checkout_order_summary {
  padding-top: 10px;
  margin-left: 20px;
}
