.subtotal_main {
  margin-top: 60px;
  padding-left: 75%;
}

.subtotal_main button {
  font-size: 15px;
  padding: 4.7px 30px;
  background: rgb(2, 109, 109);
  border-radius: 5px;
  margin: 40px 0px;
  cursor: pointer;
  color: whitesmoke;
  width: 190px;
  margin-left: 50%;
}

.subtotal_main p {
  padding-bottom: 4px;
  padding-top: 20px;
  box-shadow: 0 8px 6px -10px black;
  width: 350px;
  padding-left: 20px;
}

.subtotal_main span {
  padding-left: 140px;
  align-items: right;
  align-self: flex-end;
  align-content: flex-end;
}
