.header_main {
  display: flex;
  flex-direction: column;
  font-family: "arial";
  padding: 18px 0px;
  box-shadow: 0px 2px 5px #f0bc8f;
  position: fixed;
  width:100vw;
  background: white;
}

.header_top_logo_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  padding-bottom: 15px;
}

.header_logo {
  position: relative;
}

.header_logo img {
  width: 110px;
  height: 100px;
}

.header_social_cart {
  display: flex;
  position: absolute;
  left: 85%;
}

.header_social_cart li {
  text-decoration: none;
  list-style-type: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.cart_quantity_number {
  width: 15.5px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #008b8b;
  font-size: 12px;
  position: absolute;
  left: 96%;
  z-index: 1;
  padding-top: 1.9%;
  padding-left: 3.3%;
  bottom: 50%;
}

.cart-icon-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #008b8b;
}

.header_bottom_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_bottom_navbar li {
  text-decoration: none;
  list-style-type: none;
  margin: 5px 50px;
  cursor: pointer;
}

.header_bottom_navbar a:hover {
  color: #008b8b;
}

.header_social_buttons {
  display: block;
  margin: auto;
  font-size: 1rem !important;
  padding: 4px;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.header_bottom_navbar a {
  color: black;
}
