.order_main {
    padding:4px 15px;
    /* border: 1px solid purple; */
}

.confirm_order_item_display {
    margin-top: 25px;
    display:flex;
    padding-left: 160px;
}

.confirm_order_item_display img {
    width:90px;
    height:120px;
}

.confirm_order_item_display p {
    padding-left: 50px;
    font-size: 14px;
}
